.body__pay {
    margin-top: -24px;
    background-color: #f9f6ec;
}

.container__layout {
    display: flex;
    margin: auto;
    width: 980px;
    flex-direction: column;
}

.money__bill {
    padding: 12px 0;
    border-top: 2px solid #333;
    background-color: #fff;
    .number-money {
        font-size: 24px;
        font-weight: bold;
        font-family: 'linlivertine';
    }
    .unit-money {
        margin-left: 4px;
        text-decoration: underline;
    }
    .money__film {
        display: flex;
        align-items: center;
        justify-content: space-around;
        .img__des {
            img {
                height: 120px;
                width: 100px;
            }
        }
        .content__film {
            margin-left: -100px;
            min-width: 480px;
            &-name {
                font-size:18px;
                margin: 12px 0 16px 0;
            }
            &-info {
                font-size: 14px;
                margin-bottom: 6px;
                position: relative;
                &-title {
                    color: #666666;
                    margin-right: 12px;
                }
                &-day, 
                &-time, &-number {
                    margin-right: 12px;
                    &::after {
                        content: "";
                        top: 3px;
                        height: 14px;
                        margin-left: 6px;
                        position: absolute;
                        border-right:1px solid #666666;
                    }
                }
                &-room {
                    margin-right: 16px;
                    &::after {
                        content: "";
                        top: 3px;
                        height: 14px;
                        margin-left: 10px;
                        position: absolute;
                        border-right:1px solid #666666;
                    }
                }
            }
        }
    }
    .money__nav {
        display: flex;
        margin-top: 12px;
        align-items: center;
        justify-content: space-around;
        .img__description {
            img {
                height: 120px;
                width: 100px;
            }
        }
        .content__food {
            width: 480px;
            margin-left: -98px;
            h4 {
                font-size: 18px;
                margin: 12px 0 16px 0;
            }
            &-info {
                font-size: 14px;
                margin-bottom: 6px;
                position: relative;
                &-title {
                    color: #666666;
                    margin-right: 16px;
                }
                &-type, &-size {
                    margin-right: 16px;
                    &::after {
                        content: "";
                        top: 3px;
                        height: 14px;
                        margin-left: 8px;
                        position: absolute;
                        border-right:1px solid #666666;
                    }
                }
            }
        }
    }
}

.total__bill {
    display: flex;
    padding: 24px;
    background-color: #dad2b4;
    justify-content: space-between;
    &-head {
        font-size: 20px;
        margin-left: 44px;
    }
    &-money {
        min-width: 28px;
        font-size: 24px;
        margin-right: 44px;
        font-weight: bold;
        font-family: 'linlivertine';
        &-unit {
            margin-left: 4px;
            font-size: 18px;
            font-weight: 400;
            text-decoration: underline;
        }
    }
}

.acept__bill {
    display: flex;
    align-items: center;
    background-color: #282e34;
    padding: 12px 0;
    justify-content: space-between;
    .rule__bill {
        color: #fff;
        margin-left: 68px;
        a {
            color: aqua;
            cursor: pointer;
            &:hover {
                opacity: 0.8;
            }
        }
    }
    .btn__acept {
        margin-right: 60px;
        button {
            cursor: pointer;;
            padding: 12px 20px;
            font-weight: 500;
            color: #000;
            background-color: #b49763;
            font-size: 20px;
        }
    }
}

.confirm__none {
    display: none;
}

.confirm__success {
    z-index: 10;
    left:50%;
    transform: translateX(-50%);
    width: 340px;
    height: 227px;
    position: absolute;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    animation-name: show;
    animation-duration: 1s;
    font-family: source sans pro,sans-serif;
    &-icon {
        display: flex;
        color: #fff;
        padding-top: 12px;
        align-items: center;
        flex-direction: column;
        background-color: #8bc34a;
        .icon-success {
            font-size: 36px;
            border-radius: 50%;
            border: 3px solid #fff;
        }
        p {
            margin: 12px 0;
        }
    }
    &-content {
        color: #757575;
        margin: 24px 0;
        text-align: center;
    }
    &-link {
        text-align: center;
        margin-bottom: 24px;
        button {
            color:#fff;
            border: none;
            padding: 12px;
            cursor: pointer;
            border-radius: 25px;
            background-color: #8bc34a;
        }
    }
    a:-webkit-any-link {
        color: -webkit-link;
        cursor: pointer;
        text-decoration: none;
    }
    @keyframes show {
        from {
            top: 0px;
        }
        to {
            top: 48px;
        }
    }
}